@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0px;
}

.header{
  background-color: #F5F8FA;
  width: 100%;
}
.header2{
  width: 50%;
}

.loginpage{
  width: 100%;
  height: 40em;
  text-align: center;
  background-color:	#F5F8FA;
}

.loginpage h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; ;
  padding: 1em 0em 0em 0em;
  font-size: 7em;
  color: #1DA1F2;
}

.loginpage .text{
  width: 100%;
}
.loginpage input[type=text]{
  font-family: Montserrat;
  font-size: 1em;
  background-color: #F5F8FA;
  border-color: #AAB8C2;
  margin: 1.5em 0em .5em;
}
.loginpage input[type=password]{
  font-family: Montserrat;
  font-size: 1em;
  background-color: #F5F8FA;
  border-color: #AAB8C2;
  margin: .5em 0em;
}
.loginpage input[type=submit]{
  text-align: center;
  color: #F5F8FA;
  background-color: #1DA1F2;
  border: 0em;
  margin: 1.5em 0em 0em;
  padding: .5em;
  font-family: Montserrat;
  font-size: 1em;
  border-radius: .75em;
}
.loginpage input[type=submit]:hover{
  color:#1DA1F2;
  background-color: #E1E8ED;
}

.loginpage a{
  color: #1DA1F2;
  font-family: Montserrat;
  text-decoration: none;
  font-weight: 550;
}
a:hover{
  color: grey;
}
.createpage{
  width: 100%;
  height: 40em;
  text-align: center;
  background-color: #F5F8FA;
}

.createpage h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; ;
  padding: 1em 0em 0em 0em;
  font-size: 5em;
  color: #1DA1F2;
}
.createpage .text{
  width: 100%;
}
.createpage input[type=text]{
  font-family: Montserrat;
  font-size: 1em;
  background-color: #F5F8FA;
  border-color: #AAB8C2;
  margin: 3em 0em 0em;
}
.createpage input[type=password]{
  font-family: Montserrat;
  font-size: 1em;
  background-color: #F5F8FA;
  border-color: #AAB8C2;
  margin: 1.2em 0em 0em;
}
.createpage input[type=email]{
  font-family: Montserrat;
  font-size: 1em;
  background-color: #F5F8FA;
  border-color: #AAB8C2;
  margin: 1.2em 0em 0em;
}
.createpage input[type=submit]{
  text-align: center;
  color: #F5F8FA;
  background-color: #1DA1F2;
  border: 0em;
  margin: 3em 0em 0em;
  padding: .5em;
  font-family: Montserrat;
  font-size: 1em;
  border-radius: .75em;
}
.createpage input[type=submit]:hover{
  color:#1DA1F2;
  background-color: #E1E8ED;
}
.createpage a{
  color: #1DA1F2;
  font-family: Montserrat;
  text-decoration: none;
  font-weight: 550;
}
.createpage a:hover{
  color: grey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5F8FA;
}
li{
  float: right;
}
li a {
  display: block;
  color: #1DA1F2;
  text-align: center;
  text-decoration: none;
  margin: 0em;
}
.errorflag{
  color: red;
  font-family: Montserrat;
  margin: -2em 0em 1em;
}